body{
	font-family: 'Roboto Condensed', sans-serif;
}
.navbar-default{
	background:  #4db8ff;
}
.navbar-default .navbar-brand{
	color: #fff;
	font-size: 24px;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
	color: #fff;
	cursor: text;;
}
.navbar > .container-fluid .navbar-brand{
	margin: 0;
}
#login-form{
	width: 50%;
	margin: 0 auto;
}
.well{
	background: #fff;
}